---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import config from '../config';
import Layout from '../layouts/Layout.astro';

const tagline = '';
const description = 'ウェブサイトのためのフロントエンド開発スターターキット';

const developmentStacks = [
  {
    image: {
      src: import('../assets/home/logo-astro.svg'),
      alt: 'Astro',
    },
    link: 'https://astro.build/',
    label: 'Webサイトフレームワーク',
  },
  {
    image: {
      src: import('../assets/home/logo-tailwindcss.svg'),
      alt: 'Tailwind CSS',
    },
    link: 'https://tailwindcss.com/',
    label: 'CSSフレームワーク',
  },
  {
    image: {
      src: import('../assets/home/logo-alpinejs.svg'),
      alt: 'Alpine.js',
    },
    link: 'https://alpinejs.dev/',
    label: 'JavaScriptフレームワーク',
  },
];
---

<Layout isHome tagline={tagline} description={description}>
  <main class="wrapper mx-auto mb-[--fluid(4rem,10rem)] max-w-screen-2xl px-[--fluid(20px,80px)]">
    <div class="py-20">
      <p
        class="kerning-all text-center text-[length:--fluid(1rem,1.5rem)] font-bold text-pretty [word-break:auto-phrase]"
      >
        {description}
      </p>
      <div class="mt-30 flex flex-col items-center gap-4 lg:flex-row" role="list">
        {
          developmentStacks.map(({ image, link, label }, i) => (
            <>
              {i > 0 && (
                <Image class="size-10 lg:mb-5" src={import('../assets/home/cross.svg')} alt="×" />
              )}
              <div class="w-full rounded-xl border border-slate-300" role="listitem">
                <p>
                  <a href={link} target="_blank">
                    <Image class="w-full rounded-t-xl" {...image} />
                  </a>
                </p>
                <p class="rounded-b-xl border-t border-slate-300 bg-slate-50 px-4 py-2 text-center font-bold">
                  {label}
                </p>
              </div>
            </>
          ))
        }
      </div>
    </div>
  </main>
</Layout>
